.featured-listings {
  width: 100%;
  margin-bottom: 40px;

  ul {
    list-style: none;
    margin: 0;
    @include grid-container;
    @include grid-collapse;
  }
  li {
    background: none;
    padding: 0;
    @include grid-column(4);

    a, a:active, a:visited, a:focus {
      color: $gris;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
