.sign-up-form-container {
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  margin: 0 auto;
  background: #36393B;
  text-align: center;

  @include mq('desktop') {
    width: 980px;
  }
}

#mc_embed_signup {
  text-align: left;
  font-size: 1.2em;
  text-align: center;

  h2 {
    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  label {
    display: block;
    margin-right: 5px;
    text-align: left;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  input[type=text], input[type=email] {
    display: block;
    padding: 10px;
    box-shadow: 0;
    border: 0;
    width: 100%;
    box-sizing: border-box;
  }

  input[type=submit]{
    display: inline-block;
    padding: 10px 40px;
    margin: 0;
    border: 0;
    border-radius: 0;
  }
}

.mc-field-group {
  display: inline-block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;

  @include mq('desktop') {
    width: 25%;
    margin-bottom: 0;
  }
}

.button-input {
  display: inline-block;
}
