.sign-up-form-container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  color: #000;
}

#mc_embed_signup {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 20px;

  h2 {
    font-size: 16px;
  }

  label {
    display: block;
    margin-right: 5px;
    text-align: left;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  input[type=text], input[type=email] {
    display: block;
    padding: 5px 10px;
    box-shadow: 0;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
  }

  input[type=submit]{
    display: inline-block;
    padding: 10px 40px;
    margin: 0;
    border: 0;
    border-radius: 0;
  }
}

.mc-field-group {
  display: inline-block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-input {
  display: inline-block;
}
