<div class="featured-listings">
  <div class="title-bar">
    <div class="title-bar-main">
      <h2>Featured Listings</h2>
    </div>
    <div class="title-bar-secondary">
      <a href="/property-listings">See all</a>
    </div>
  </div>
  <%= partial "partials/home/slider" %>
</div>
