<div class="flex">
    <div class="column">
        <%= partial "partials/home/listings_countries" %>
    </div>
    <div class="column">
        <%= partial "partials/home/research" %>
    </div>
    <div class="column">
        <%= partial "partials/home/fb_feed" %>
    </div>
</div>