<div>
	<div class="title-bar">
		<div class="title-bar-main">
			<h2>Our Listings</h2>
		</div>
	</div>
	<div>
		<img src="<%= dato.home_page.locations_image.url %>" alt="our locations" class="homepage-image" />
	</div>
	<div class="country-buttons-container">
		<% dato.countries.each do |country| %>
			<a href="<%= country.name.parameterize %>" class="country-button">
				<%= country.abbreviation %>
			</a>
		<% end %>
	</div>
</div>