<div class="title-bar">
    <div class="title-bar-main">
        <h2>Research</h2>
    </div>
</div>
<div>
    <img src="<%= dato.home_page.research_image.url %>" alt="our locations" class="homepage-image" />
</div>
<div>
    <%= dato.home_page.research_description %>
</div>