.modal {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 9;
    display: none;
    &.shown {  
        display: flex;
    }
}

.modal-wrapper {
    width: 400px;
    max-width: 90%;
    height: auto;
    max-height: 80vh;
    background: white;
    padding: 20px;
}

.modal-close-button {
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}