<div class="home-banner-wrap">
  <div class="banner">
    <% dato.home_sliders.each do |imagen| %>
      <img src="<%= imagen.image.url %>&w=980&h=300&fit=crop" alt="NKF Home Banner">
    <% end %>
  </div>
</div>
