<div class="home-right-column">
  <div class="corporate-principals">
    <table width="369" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" class="new">
          <p>
            We commit to providing a full breadth of services and consistently develop new resources in response to client needs and the evolving landscape of our industry... <a href="http://www.newmarkkf.com/home/about-our-firm/company-overview/corporate-mission-and-values.aspx">Learn More</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="new">
          <p>
            <img src="http://newmarkkf.com/newweb/line2.jpg" width="370" height="5">
          </p>
        </td>
      </tr>
      <tr>
        <td width="179">
          <a href="http://www.bgcpartners.com/" target="_blank"><img src="http://newmarkkf.com/newweb/bgc3.png" width="179" height="90" border="0"></a>
        </td>
        <td width="190">
          <a href="http://www.cantorcre.com/" target="_blank"><img src="http://newmarkkf.com/newweb/ccre3.png" width="191" height="90" border="0"></a>
        </td>
      </tr>
    </table>&nbsp;
  </div>
  <div class="jshowoff-position">
    <div class="home-page-rotator">
      <div>
        <table cellpadding="0" cellspacing="0" width="345" border="0">
          <tbody>
            <tr>
              <td width="160">
                <img src="/images/gallery/collateral_thumbnails/outlook_slider.png" border="0" width="160" height="160">
              </td>
              <td width="194">
                <p>
                  <span class="style4"><span style="color: #d0103a;"><strong>RESEARCH CENTER&nbsp;<br></strong></span>Commercial Real Estate<br>
                  Capital Markets Outlook 2013<br></span> <span class="style1"><span class="style2"><a href="/images/filemanager/Market%20Reports/CRE_Capital_Markets_Outlook_2013.pdf" target="_blank">Download the PDF</a></span></span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table cellpadding="0" cellspacing="0" width="345" border="0">
          <tbody>
            <tr>
              <td width="160">
                <img src="/images/gallery/collateral_thumbnails/500_homepagethumbnail.png" border="0" width="160" height="160">
              </td>
              <td width="194">
                <p>
                  <span class="style4"><span style="color: #d0103a;"><strong>BREAKING NEWS<br></strong></span></span><span class="style1"><span class="style2">Newmark Grubb Knight Frank Ranked Among the 2012 <em>InformationWeek</em> 500<br>
                  <a href="/home/media-center/press-releases.aspx?d=5142&amp;title=Newmark_Grubb_Knight_Frank_Makes_2012_InformationWeek_500_List_" target="_blank">Read More</a></span></span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table cellpadding="0" cellspacing="0" width="345" border="0">
          <tbody>
            <tr>
              <td width="160">
                <img src="/images/gallery/collateral_thumbnails/global_captal_slider.png" border="0" width="160" height="160">
              </td>
              <td width="194">
                <p>
                  <span class="style4"><span style="color: #d0103a;"><strong>INVESTMENT SALES AND&nbsp;&nbsp;CAPITAL MARKETS<br></strong></span>Global Capital Markets Brochure<br></span><span class="style1"><span class="style2"><a href="/images/filemanager/Collateral%20Materials/NKF%20Global%20Capital%20Markets.pdf" target="_blank">Download the PDF</a></span></span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table cellpadding="0" cellspacing="0" width="345" border="0">
          <tbody>
            <tr>
              <td width="160">
                <img src="/images/gallery/collateral_thumbnails/services_homepage.png" border="0" width="160" height="160">
              </td>
              <td width="194">
                <p>
                  <span class="style4"><span style="color: #d0103a;"><strong>VALUABLE ASSETS, INVALUABLE SERVICES.<br></strong></span>Newmark Grubb Knight Frank<br>
                  Corporate Brochure<br></span><span class="style1"><span class="style2"><a href="/images/filemanager/Collateral%20Materials/Corporate%20Overview%20Brochure.pdf" target="_blank">Download the PDF</a></span></span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
