<div class="home-main-column">
  <img src="/images/map-central-america.png" alt="Newmark Grubb Central America" height="234" />
  <div class="recent-news">
    <h2>
      Recent News
    </h2>
    <ul>
      <% sub_pages_by_date('media-center/press-releases').first(5).each do |resource| %>
        <% unless resource.path.include?('index.html') %>
          <li>
            <div class="date">
              <%= resource.data.date %>
            </div>
            <h4>
              <a href="<%= resource.url %>"><%= resource.data.title %></a>
            </h4>
            <div class="clear"></div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <a href="/media-center/press-releases/">Más noticias</a>
  </div>
</div>
