<div class="home-right-column">
  <div class="corporate-principals">
    <table width="369" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" class="new">
          <p>
            Newmark Grubb Central America is one of the region's leading commercial real estate advisory firms. With more than 14 years of experience, we provide a fully integrated platform of services to prominent multinational corporations and institutional investors, as well as to occupiers, owners and developers of real estate on a local, regional and national level.</p>

            <p>We go far beyond being just a real estate brokerage firm. Our experience has taught us to focus not only on the present features of the business, but also on the creation of a long term relationship with our customers.</p>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="new">
          <p>
            <img src="http://newmarkkf.com/newweb/line2.jpg" width="370" height="5">
          </p>
        </td>
      </tr>
      <!--
      <tr>
        <td width="179">
          <a href="http://www.bgcpartners.com/" target="_blank"><img src="http://newmarkkf.com/newweb/bgc3.png" width="179" height="90" border="0"></a>
        </td>
        <td width="190">
          <a href="http://www.cantorcre.com/" target="_blank"><img src="http://newmarkkf.com/newweb/ccre3.png" width="191" height="90" border="0"></a>
        </td>
      </tr>
    -->
    </table>&nbsp;
  </div>
  <%= partial "partials/_pdf_slider" %>
</div>
