<div class="home-main-column">
  <h2>Property listings</h2>
  <%= partial "partials/property_listings" %>
  <a href="/property-listings" class="button">View all listings</a>
  <br/>
  <hr>
  <br/>
  <div class="recent-news">
    <h2>
      Recent News
    </h2>
    <ul>
      <% dato.articles.sort_by { |resource| resource.date }.reverse.first(5).each do |article| %>
        <li>
          <div class="date">
            <%= article.date %>
          </div>
          <h4>
            <a href="/media-center/press-releases/<%= article.title.parameterize %>/"><%= article.title %></a>
          </h4>
          <div class="clear"></div>
        </li>
      <% end %>
    </ul>
    <a href="/media-center/press-releases/">Más noticias</a>
  </div>
</div>
