<div class="home-main-column">
  <img src="/images/map-central-america.png" alt="Newmark Grubb Central America" />
  <div class="recent-news">
    <h2>
      Recent News
    </h2>
    <ul>
      <% dato.articles.sort_by { |resource| resource.date }.reverse.first(5).each do |article| %>
        <li>
          <div class="date">
            <%= article.date %>
          </div>
          <h4>
            <a href="/media-center/press-releases/<%= article.title.parameterize %>/"><%= article.title %></a>
          </h4>
          <div class="clear"></div>
        </li>
      <% end %>
    </ul>
    <a href="/media-center/press-releases/">Más noticias</a>
  </div>
</div>
