<div class="home-right-column">
  <div class="corporate-principals">
    <table width="369" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" class="new">
          <%= dato.home_page.intro.gsub(/\n/, '<br/>') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="new">
          <p>
            <img src="/images/line2.jpg" width="370" height="5">
          </p>
        </td>
      </tr>
      <!--
      <tr>
        <td width="179">
          <a href="http://www.bgcpartners.com/" target="_blank"><img src="http://newmarkkf.com/newweb/bgc3.png" width="179" height="90" border="0"></a>
        </td>
        <td width="190">
          <a href="http://www.cantorcre.com/" target="_blank"><img src="http://newmarkkf.com/newweb/ccre3.png" width="191" height="90" border="0"></a>
        </td>
      </tr>
    -->
    </table>&nbsp;
  </div>
  <%= partial "partials/_pdf_slider" %>
</div>
