<div class="home-main-column">
  <script src="/javascripts/ui.ufd.core.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.ui.min.ufd-ds-altered-readonly.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      $(".quicklinks").ufd({manualWidth: 186});
      $(".quicklinks").ufd('enable');
    });

    $(document).ready(function(){
      $('.ufd').addClass('clearfix');
    });
  </script>
  <div class="ufd-wrap">
    <select name="drpQuickNav" onchange="javascript:setTimeout('__doPostBack(\'MasterPage$ctl00$ContentPlaceHolder1$quicknav$drpQuickNav\',\'\')', 0)" id="MasterPage_ctl00_ContentPlaceHolder1_quicknav_drpQuickNav" class="quicklinks">
      <option selected="selected" value="">
        Global Locations
      </option>
      <option value="">
        --------------
      </option>
      <option value="default.aspx?p=8542">
        U.S. Offices
      </option>
      <option value="default.aspx?p=5513">
        - Atlanta
      </option>
      <option value="default.aspx?p=7669">
        - Baltimore
      </option>
      <option value="default.aspx?p=7675">
        - Boca Raton
      </option>
      <option value="default.aspx?p=5516">
        - Boston
      </option>
      <option value="default.aspx?p=7681">
        - Charlotte
      </option>
      <option value="default.aspx?p=5517">
        - Chicago
      </option>
      <option value="default.aspx?p=5518">
        - Chicago - Rosemont
      </option>
      <option value="default.aspx?p=7690">
        - Cleveland
      </option>
      <option value="default.aspx?p=7702">
        - Columbus
      </option>
      <option value="default.aspx?p=5519">
        - Connecticut/Westchester
      </option>
      <option value="default.aspx?p=5520">
        - Dallas
      </option>
      <option value="default.aspx?p=5521">
        - Denver
      </option>
      <option value="default.aspx?p=7707">
        - Detroit
      </option>
      <option value="default.aspx?p=5523">
        - Emeryville
      </option>
      <option value="default.aspx?p=5524">
        - Hayward
      </option>
      <option value="default.aspx?p=5525">
        - Houston
      </option>
      <option value="default.aspx?p=7691">
        - Indianapolis
      </option>
      <option value="default.aspx?p=7734">
        - King of Prussia
      </option>
      <option value="default.aspx?p=7736">
        - Las Vegas
      </option>
      <option value="default.aspx?p=8507">
        - Long Island
      </option>
      <option value="default.aspx?p=5528">
        - Los Angeles
      </option>
      <option value="default.aspx?p=5529">
        - Marin
      </option>
      <option value="default.aspx?p=5530">
        - Marlton, NJ
      </option>
      <option value="default.aspx?p=5531">
        - Miami
      </option>
      <option value="default.aspx?p=8270">
        - Nashville
      </option>
      <option value="default.aspx?p=5533">
        - New York
      </option>
      <option value="default.aspx?p=7753">
        - Newport Beach
      </option>
      <option value="default.aspx?p=7774">
        - Ontario
      </option>
      <option value="default.aspx?p=7780">
        - Orlando
      </option>
      <option value="default.aspx?p=8089">
        - Palo Alto
      </option>
      <option value="default.aspx?p=6561">
        - Philadelphia
      </option>
      <option value="default.aspx?p=6562">
        - Philadelphia Suburbs
      </option>
      <option value="default.aspx?p=7786">
        - Phoenix
      </option>
      <option value="default.aspx?p=7792">
        - Pittsburgh
      </option>
      <option value="default.aspx?p=5538">
        - Pleasanton
      </option>
      <option value="default.aspx?p=7797">
        - Portland
      </option>
      <option value="default.aspx?p=5539">
        - Princeton, NJ
      </option>
      <option value="default.aspx?p=5540">
        - Roseville
      </option>
      <option value="default.aspx?p=5541">
        - Rutherford, NJ
      </option>
      <option value="default.aspx?p=5542">
        - Sacramento
      </option>
      <option value="default.aspx?p=7805">
        - San Antonio
      </option>
      <option value="default.aspx?p=7814">
        - San Diego
      </option>
      <option value="default.aspx?p=6560">
        - San Francisco
      </option>
      <option value="default.aspx?p=5544">
        - San Mateo
      </option>
      <option value="default.aspx?p=5545">
        - Santa Clara
      </option>
      <option value="default.aspx?p=5546">
        - Santa Rosa
      </option>
      <option value="default.aspx?p=7823">
        - Sarasota
      </option>
      <option value="default.aspx?p=7833">
        - Seattle
      </option>
      <option value="default.aspx?p=7839">
        - Tampa
      </option>
      <option value="default.aspx?p=7845">
        - Tucson
      </option>
      <option value="default.aspx?p=7855">
        - Tysons Corner
      </option>
      <option value="default.aspx?p=5547">
        - Walnut Creek
      </option>
      <option value="default.aspx?p=7901">
        - Wappingers Falls
      </option>
      <option value="default.aspx?p=5548">
        - Washington D.C.
      </option>
      <option value="default.aspx?p=5549">
        - Wilmington, DE
      </option>
      <option value="default.aspx?p=8405">
        Global Offices
      </option>
      <option value="default.aspx?p=5550">
        - Africa
      </option>
      <option value="default.aspx?p=5963">
        - Asia-Pacific
      </option>
      <option value="default.aspx?p=5552">
        - Canada
      </option>
      <option value="default.aspx?p=5553">
        - Europe
      </option>
      <option value="default.aspx?p=5555">
        - Middle East
      </option>
      </select>
  </div>
  <div class="map-wrap">
    <embed height="208" width="542" wmode="transparent" quality="high" name="divFlashBanner" id="divFlashBanner" style="" src="/images/filemanager/flashmaps/homemap.swf" type="application/x-shockwave-flash">
  </div>
  <div class="cross-refs">
    <div class="cross-ref-group cross-ref-0">
      <h2>
        Recent News
      </h2>
      <div class="cross-ref-group-body">
        <div class="cross-ref news">
          <div class="date">
            01.16.2013
          </div>
          <h4>
            <a href="/home/media-center/press-releases.aspx?d=5324&amp;title=Newmark_Grubb_Knight_Frank_Hotels_Expands_With_Key_Hires">Newmark Grubb Knight Frank Hotels Expands With Key Hires</a>
          </h4>
          <div class="clear"></div>
        </div>
        <div class="cross-ref news">
          <div class="date">
            01.07.2013
          </div>
          <h4>
            <a href="/home/media-center/press-releases.aspx?d=5299&amp;title=Newmark_Grubb_Knight_Frank_Unveils_2013_Commercial_Real_Estate_Forecast__for_Center_City_Philadelphia">Newmark Grubb Knight Frank Unveils 2013 Commercial Real Estate Forecast for Center City Philadelphia</a>
          </h4>
          <div class="clear"></div>
        </div>
        <div class="cross-ref news">
          <div class="date">
            01.02.2013
          </div>
          <h4>
            <a href="/home/media-center/press-releases.aspx?d=5288&amp;title=Newmark_Grubb_Knight_Frank_Parent,_BGC_Partners,_Inc.,__Acquires_Frederick_Ross_Company_In_Denver">Newmark Grubb Knight Frank Parent, BGC Partners, Inc., Acquires Frederick Ross Company In Denver</a>
          </h4>
          <div class="clear"></div>
        </div>
        <div class="cross-ref news">
          <div class="date">
            01.02.2013
          </div>
          <h4>
            <a href="/home/media-center/press-releases.aspx?d=5289&amp;title=Newmark_Grubb_Knight_Frank_Parent,_BGC_Partners,_Inc.,_Acquires_Smith_Mack_in_Philadelphia">Newmark Grubb Knight Frank Parent, BGC Partners, Inc., Acquires Smith Mack in Philadelphia</a>
          </h4>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
