<div class="right-column">
	<div class="clear"></div>
	<div class="spotlight no-title">
		<div class="spotlight-body">
			<div class="cross-ref-report-img">
				<div class="cross-ref market-report with-image">
					<div class="cross-ref-report-img">
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="cross-refs">
		<div class="cross-ref-group cross-ref-0">
			<h2>
				Download our documents
			</h2>
			<div class="cross-ref-group-body">
				<% data.pdfs.pdfs.each do |pdf| %>
					<div class="cross-ref external">
						<h4>
							<a href="/pdfs/<%= pdf['file'] %>.pdf" target="_blank" download="<%= pdf['title'] %>">
								<%= pdf['title'] %>
							</a>
						</h4>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
