<div class="left-column">
  <div class="subnav">
    <a class="title" href="#"><%= current_page.url.split('/')[1].capitalize %></a>

    <ul id="navID" class="navlist">
      <% sub_pages(current_page.url.split('/')[1]).each do |resource| %>
        <li>
          <a href="<%= resource.url %>"><%= resource.data.title %></a>
        </li>
      <% end %>
    </ul>
    <br/>
    ---
    <a class="title" href="/home/about-our-firm.aspx">About Our Firm</a> <!-- Currently in "repeater"-->

    <ul id="navID" class="navlist">
      <li class="current">
        <a href="/home/about-our-firm/company-overview.aspx">Company Overview</a>
      </li>
    </ul>
    <ul class="expanded-nav">
      <li>
        <a href="/home/about-our-firm/company-overview/corporate-mission-and-values.aspx">Corporate Mission and Values</a>
      </li>
    </ul>
    <ul class="navlist">
      <li>
        <a href="/home/about-our-firm/global-offices.aspx">Global Offices</a>
      </li>
      <li>
        <a href="/home/about-our-firm/professional-profiles.aspx">Professional Profiles</a>
      </li>
      <li>
        <a href="/home/about-our-firm/representative-client-list.aspx">Representative Client List</a>
      </li>
      <li>
        <a href="/home/about-our-firm/careers.aspx">Careers</a>
      </li>
      <li class="last">
        <a href="/home/about-our-firm/contact-us.aspx">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
