<div class="left-column">
  <div class="subnav">
    <ul id="navID" class="navlist">
      <% pages = sub_pages(current_page.url.split('/')[1]) %>
      <% pages.each do |resource| %>
        <% unless resource.path.include?('index.html') %>
          <li>
            <a href="<%= resource.url %>"><%= resource.data.title %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
