<div class="right-column">
	<div class="clear"></div>
	<div class="cross-refs">
		<div class="cross-ref-group cross-ref-0">
			<h2>
				Download our documents
			</h2>
			<div class="cross-ref-group-body">
				<% dato.files.select{|f| f.sidebar == true }.each do |file| %>
					<div class="cross-ref external">
						<h4>
							<a href="<%= get_download_link(file) %>">
								<%= file.title %>
							</a>
						</h4>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
