<div class="right-column">
	<div class="clear"></div>
	<div class="spotlight no-title">
		<div class="spotlight-body">
			<div class="cross-ref-report-img">
				<div class="cross-ref market-report with-image">
					<div class="cross-ref-report-img">
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="cross-refs">
		<div class="cross-ref-group cross-ref-0">
			<h2>
				Related Links
			</h2>
			<div class="cross-ref-group-body">
				<div class="cross-ref external">
					<h4>
						<a href="http://www.bgcpartners.com/">BGC Partners</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
