<div class="main-nav-wrap" id="main-nav-wrap">
  <div id="toggleMenu">
    <h2>Menu</h2>
    <button class="hamburger hamburger--squeeze" type="button" id="hamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="main-nav">
    <ul id="navlist">
      <% data.navigation.items.each do |item| %>
        <li>
          <a href="<%= item.url %>"><%= item.title %></a>
          <% if item.submenu %>
          <ul class="fly-out">
            <% item.submenu.each do |subitem| %>
                <li class="last">
                    <a href="<%= subitem.url %>"><%= subitem.title %></a>
                </li>
            <% end %>
          </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
