<div class="page-footer">
  <div class="page-footer-left">
    <div class="copyright">
      © 2016 Newmark Grubb Central America &nbsp;|&nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/terms-of-use">Terms of Use</a> &nbsp;|&nbsp; <!--<a href="/default.aspx?p=26">Site Map</a>-->
    </div>
  </div>
  <div class="clear"></div>
</div>
