<div class="page-footer">
  <div class="page-footer-left">
    <div class="copyright">
      © 2016 Newmark Grubb Costa Rica &nbsp;|&nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/terms-of-use">Terms of Use</a> &nbsp;|&nbsp; <!--<a href="/default.aspx?p=26">Site Map</a>-->
    </div>
  </div>
  <!--<div class="page-footer-right">
    <div class="social-footer-wrap">
      <% data.redes.each do |network, url| %>
        <a target="_blank" title="Follow Newmark Grubb Costa Rica on <%= network.capitalize %>" href="<%= url %>" class="f-<%= network %>"><%= network.capitalize %></a>
      <% end %>
    </div>
  </div>-->
  <div class="clear"></div>
</div>
