<div class="jshowoff-position">
  <div class="home-page-rotator">
    <% dato.files.select{|f| f.home == true }.each do |file| %>
      <div>
        <table cellpadding="0" cellspacing="0" width="345" border="0">
          <tbody>
            <tr>
              <td width="160" style="text-align: center;">
                <%= image_tag file.image.url(w: 120, h: 145, fit: "crop", fm: :jpg), :border => '0' %>
              </td>
              <td width="194">
                <p class="text-left">
                  <span class="style4">
                    <span style="color: #d0103a;">
                      <strong><%= file.title %><br></strong>
                    </span>
                    <%= file.description %>
                    <br>
                  </span>
                <span class="style1">
                  <span class="style2">
                    <a href="<%= get_download_link(file) %>">Download the PDF</a>
                  </span>
                </span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
