<ul id="navID" class="navlist">
  <li><h4><%= title %></h4></li>
  <% sub_pages(collection).each do |page| %>
    <li>
      <% if page.data.title == current_page.data.title %>
        <a href="#" disabled tabindex="-1"><%= page.data.title %></a>
      <% else %>
        <a href="<%= page.url %>"><%= page.data.title %></a>
      <% end %>
    </li>
  <% end %>
</ul>
