<div class="home-banner-wrap-new" style="background-image: none;">

  <div class="home-banner__slideshow">
    <iframe src="http://marketing.ngkf.com/contentslider/index.html" width="620" height="270" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="home-banner__news-feed">
    <div class="news-list-wrap">

      <div class="cross-refs">
        <div class="cross-ref-group cross-ref-0"><h2><a href="http://www.ngkf.com/page12512.aspx">Recent News</a></h2><div class="cross-ref-group-body"><div class="cross-ref news"><div class="date">05.23.2016</div><h4>NGKF Capital Markets Augments National Platform with Addition of Leading Brooklyn Investment Sales Professional David Behin</h4><a href="/home/media-center/press-releases.aspx?d=8325&amp;title=NGKF_Capital_Markets_Augments_National_Platform_with_Addition_of_Leading_Brooklyn_Investment_Sales_Professional_David_Behin">Read More</a><div class="clear"></div></div><div class="cross-ref news"><div class="date">05.20.2016</div><h4>The Stoler Report: Industry Gurus Discuss the State of the Market in NYC</h4><a href="/home/media-center/in-the-news.aspx?d=8308&amp;title=The_Stoler_Report:_Industry_Gurus_Discuss_the_State_of_the_Market_in_NYC">Read More</a><div class="clear"></div></div><div class="cross-ref news"><div class="date">04.14.2016</div><h4>NGKF President Jimmy Kuhn on Newmark's Remarkable Growth Phase</h4><a href="/home/media-center/in-the-news.aspx?d=8170&amp;title=NGKF_President_Jimmy_Kuhn_on_Newmark's_Remarkable_Growth_Phase">Read More</a><div class="clear"></div></div></div></div>
      </div>
    </div>
  </div>

</div>
