---
layout: content
---
<h1>Property Listings</h1>
<% items.each do |property| %>
  <%= partial "partials/property_listings", :locals => {:property => property} %>
<% end %>



<% content_for(:sidebar) do %>
  <%= partial 'partials/sidebars/listings', :locals => {property: dato.listings.last}  %>
<% end %>
