---
layout: content_with_regular_sidebar
body_class: content
title: Coverage
category: about
weight: 2
---
<p>Newmark Grubb Central America is the regional representative of NGKF, one of the world's leading commercial real estate advisory firms. From our San Jose office we provide support to the whole Central American region, from Guatemala to Panamá.</p>

<br/>

<img src="/images/coverage/map.png" alt="Coverage" />
