---
title: "Professional Team"
body_class: content
category: about
layout: about
weight: 5
---
<ul class="team-member-list">
<% dato.members.each do |member| %>
  <li>
    <% if member.bio.present? %>
      <strong><a href="/about/professional-team/<%= member.name.parameterize %>"><%= member.name %></strong></a>
    <% else %>
      <strong><%= member.name %></strong>
    <% end %>
    <br/><i><%= member.job_title %></i>
  </li>
<% end %>
</ul>
