---
title: "Professional Team"
body_class: content
category: about
layout: about
weight: 5
---
<% dato.countries.map{ |country| country.name}.each do |country| %>
  <a href="/about/professional-team/<%= country.parameterize %>">
    <h2>
      <%= country %>
    </h2>
  </a>
<% end %>

