<a href="/<%= currentcountry.name.parameterize %>"><h2><%= currentcountry.name %></h2></a>
<ul>
    <li>
        <a href="/about/professional-team/<%= currentcountry.name.parameterize %>">Professional team</a>
    </li>
    <li>
        <a href="/property-listings/<%= currentcountry.name.parameterize %>"> Property Listings</a>
    </li>
</ul>