---
layout: content
body_class: content
title: Contact Us
category: contact
weight: 0
---
<strong>Email Address:</strong>
info@ngcentralamerica.com
<br/>
<strong>Address:</strong>
Madrid Office Center, 3rd floor. Pozos, Santa Ana
<br/>
<strong>Phone:</strong>
(506) 2203-5171
<br/>
<strong>Fax:</strong>
(506) 2203-5171

<form action="https://formspree.io/info@ngcentralamerica.com" method="POST">

  <div class="form-div">
    <span class="small">* Required fields</span>
    <br/>
    </br>

    <label>Name *</label>
    <input name="name" type="text" class="text-contact" autocomplete="off">

    <label>Title *</label>
    <input name="title" type="text" class="text-contact" autocomplete="off">

    <label>Company *</label>
    <input name="company" type="text" class="text-contact" autocomplete="off">

    <label>Address *</label>
    <input name="address" type="text" class="text-contact" autocomplete="off">

    <label>Company *</label>
    <input name="company" type="text" class="text-contact" autocomplete="off">

    <label>Email Addre *</label>
    <input type="email" name="_replyto" class="text-contact" autocomplete="off">

    <label>I heard about Newmark Grubb Knight Frank from:</label>
      <select name="contact" class="contact">
    	<option value="0"></option>
    	<option value="1">Advertising/Banner/Promo/Sign</option>
    	<option value="2">Article/Newspaper</option>
    	<option value="3">Direct Mail</option>
    	<option value="4">Family/Friend/Colleague told me</option>
    	<option value="5">Industry Event</option>
    	<option value="6">Link from other website</option>
    	<option value="7">Newmark Grubb Knight Frank brochure</option>
    	<option value="8">Newmark Grubb Knight Frank eblast</option>
    	<option value="9">Newmark Grubb Knight Frank flyer</option>
    	<option value="10">Newmark Grubb Knight Frank market report</option>
    	<option value="11">Online search</option>
    	<option value="12">Other real estate company</option>
    	<option value="13">Returning visitor</option>
    	<option value="14">Seminar/TV/Radio</option>
    	<option value="15">Other</option>
    </select>

    <label>Additional Information - Type Message Below</label>
    <textarea name="message" rows="2" cols="20" class="textbox-contact"></textarea>

    <div class="form-buttons">
      <input type="submit" value="Submit" class="large-button">
    </div>

    <input type="hidden" name="_subject" value="Nuevo mensaje desde la página" />
    <input type="text" name="_gotcha" style="display:none" />
  </div>
</form>
