---
title: Home
body_class: home
---
<% content_for :slider do %>
  <%= partial "partials/banner" %>
  <%= partial "partials/slider" %>
<% end %>
<%= partial "partials/home_main_column" %>
<%= partial "partials/home_right_column" %>
<div class="clear"></div>
