---
title: Home
body_class: home
weight: 0
---
<div class="home-main-column">
  <%= partial "partials/home/listings_countries" %>
</div>
<div class="home-right-column">
  <%= partial "partials/home/fb_feed" %>
</div>
<div class="clear"></div>
