---
layout: content
title: In the news
category: news
weight: 0
---
<ul>
  <% dato.in_the_news.each do |article| %>
    <li>
      <strong><%= article.date %></strong>
      <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
    </li>
  <% end %>
</ul>
<% content_for(:sidebar) do %>
  <ul id="navID" class="navlist">
    <li><a href="/media-center/press-releases/">Press releases</a></li>
  </ul>
<% end %>
