---
layout: content
title: In the news
category: news
weight: 0

news:
 - date: 18/01/2016
   title: Trayectoria y respaldo en inteligencia de mercado	Inversión Inmobiliaria (Costa Rica)
   url: http://www.inversioninmobiliariacr.com/index.php/finanzas/item/353-trayectoria-y-respaldo-en-inteligencia-de-mercado
 - date: 29/02/2016
   title: Firma bienes raíces de Costa Rica se alía con gigante de la industria y amplía sus servicios	El  Financiero (Costa Rica)
   url: http://www.elfinancierocr.com/negocios/Firma-nacional-industria-servicios-PUBLICAR_0_910109005.html

 - date: 29/02/2016
   title: Multinacional de Bienes Raíces inicia operaciones ebn Costa Rica y planea expandirse a Centroamérica	Revista Summa (Centroamérica)
   url: http://www.revistasumma.com/multinacional-de-bienes-raices-inicia-operaciones-en-costa-rica-y-planea-expandirse-a-centroamerica/

 - date: 29/02/2016
   title: Transnacional de bienes raíces anunció apertura en Centroamérica	La República (Costa Rica)
   url: https://www.larepublica.net/noticia/transnacional_de_bienes_raices_anuncio_apertura_en_centroamerica/

 - date: 01/03/2016
   title: Newmark Grubb Knight Frank, inicia operaciones en Centroamérica, de la mano de experimentado grupo costarricense	Prensa Real Estate (Latinoamérica)
   url: http://prensarealestate.com/ngkf-inicia-operaciones-centroamerica/

 - date: 13/03/2016
   title: Consultoras en bienes raíces fortalecen sus operaciones en Costa Rica	El Financiero (Costa Rica)
   url: http://www.elfinancierocr.com/negocios/bienes_raices-Colliers_Internacional-Inmoinfo-NGKF_Costa_Rica-Cushman_-_Wakefield_0_919108085.html

 - date: 12/07/2016
   title: "Costa Rica: Mercado inmobiliario a mayo 2016	Central America Data (Centroamérica)"
   url: http://www.centralamericadata.com/es/article/home/Costa_Rica_Mercado_inmobiliario_a_mayo_2016

 - date: 15/07/2016
   title: Edificios comerciales mixtos lideran construcción	La República (Costa Rica)
   url: https://www.larepublica.net/noticia/edificios_comerciales_mixtos_lideran_construccion/

 - date: 25/07/2016
   title: Informe de oficinas, comercial e industria de Costa Rica	Prensa Real Estate (Latinoamérica)
   url: http://prensarealestate.com/oficinas-comercial-industria-costarica/

 - date: 04/08/2016
   title: Newmark Grubb Central America, servicios inmobiliarios integrales	Revista Vida y Éxito (Centroamérica)
   url: "http://www.vidayexito.net/negocios/newmark-grubb-central-america-servicios-inmobiliarios-integrales/"

 - date: 24/08/2016
   title: Heredia Emerge como líder en futuros proyectos residenciales de Costa Rica	Revista EKA
   url: http://www.ekaenlinea.com/heredia-emerge-como-lider-en-futuros-proyectos-residenciales-de-costa-rica/

 - date: 22/09/2016
   title: ¿Cuál es el verdadero costo de una oficina en la Gran Área Metropolitana?	El Financiero (Costa Rica)
   url: http://www.elfinancierocr.com/negocios/oficinas-alquiler-precio-mantenimiento-Gran_Area_Metropolitana-desarrolladores-construccion-mercado_inmobiliario_0_1031296864.html

 - date: 26/09/2016
   title: "Costa Rica: Concentración del desarrollo industrial	Central America Data (Centroamérica)"
   url: http://www.centralamericadata.com/es/article/home/Costa_Rica_Concentracin_del_desarrollo_industrial

 - date: 11/10/2016
   title: Newmark Grubb le ofrece algo más que el espacio perfecto	Revista Vida y Éxito (Centroamérica)
   url: http://www.vidayexito.net/negocios/newmark-grubb-le-ofrece-algo-mas-espacio-perfecto/

 - date: 19/10/2016
   title: Sector oeste se deprime frente a oferta de oficinas	Inversión Inmobiliaria (Costa Rica)
   url: http://inversioninmobiliariacr.com/index.php/mercado-inmobiliario/oficinas/item/648-sector-oeste-se-deprime-frente-a-oferta-de-oficinas
---
<ul>
  <% current_page.data.news.reverse.each do |article| %>
    <li>
      <strong><%= article.date %></strong>
      <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
    </li>
  <% end %>
</ul>
<% content_for(:sidebar) do %>
  <ul id="navID" class="navlist">
    <li><a href="/media-center/press-releases/">Press releases</a></li>
  </ul>
<% end %>
